<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="<%= site_root%>css/style.css">
	<!-- angularjs install -->
	<script type="text/javascript" src="<%= site_root%>bower_components/angular/angular.min.js"></script>
	<!-- a js file for angular operation -->
    <script type="text/javascript" src="<%= site_root%>webapp/app.showdata.js"></script>
</head>
<body>
	<header>
		<div class="wrapper">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<a href="<%= site_root%>"><img src="<%= site_root%>images/logo-white.png" alt="FusionCharts - Data to delight... in minutes"/></a>
					</div>
				</div>
			</div>
		</div>
	</header>
	<div class="content" ng-app='showdata' >
		<div class="container" ng-controller='dataSection' ng-init='showAllReviews("<%= site_root%>")'>
			<div class="row">
				<div class="col-lg-12">
					<section >
						<div class="data-wrapper" >
							<table class="table">
								<thead>
									<tr>
										<th class="name">Name</th>
										<th class="chart-type">Information</th>
										<th class="reviews">Review</th>
										<th class="screenshot">Screenshot</th>
										<th class="data">Data</th>
									</tr>
								</thead>
								<tbody>
								<tr  ng-if="reviews.length === 0">
									<td align="center" colspan="5">No data to display</td>	
								</tr>
									<tr  ng-if="reviews.length > 0" ng-repeat="unit in reviews">
										<td>{{ unit.name }}</td>
										<td>
											<div><strong>Width:</strong>{{ unit.width }}</div>
											<div><strong>Height:</strong>{{ unit.height }}</div>
											<div><strong>Build:</strong>{{ unit.build }}</div>
										</td>
										<td>{{ unit.review }}</td>
										<td><div class="attachment"><a href="<%= site_root%>screenshots/{{ unit.ssid }}">screenshots.png</a></div></td>
										<td><pre><code>{{ unit.data }}</code></pre></td>
									</tr>										
								</tbody>
							</table>
						</div>
					</section>
				
				</div>
			</div>
		</div>
	</div>
	<footer>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-6"><p class="copyright small mt10">&copy; 2002-
				2016 InfoSoft Global Private Limited. <span>All Rights Reserved.</span></p></div>
				<div class="col-md-4  col-lg-6">
				<ul class="social-icon-holder">
					<li class="fc-blog-icon"><a data-analytics-event="Outgoing Links|Blog|Blog" class="trackEvent" href="http://www.fusioncharts.com/blog/" target="_blank" title="The FusionCharts Blog"><span>The FusionCharts Blog</span></a></li>
					<li class="facebook-icon"><a data-analytics-event="Outgoing Links|Social Follows|FaceBook" class="trackEvent" href="https://www.facebook.com/FusionCharts" target="_blank" title="Like us on Facebook"><span>Like us on Facebook</span></a></li>
					<li class="twitter-icon"><a data-analytics-event="Outgoing Links|Social Follows|Twitter" class="trackEvent" href="https://twitter.com/FusionCharts" target="_blank" title="Follow us on Twitter"><span>Follow FusionCharts on Twitter</span></a></li>
					<li class="googleplus-icon"><a data-analytics-event="Outgoing Links|Social Follows|Google Plus" class="trackEvent" href="https://plus.google.com/+FusionCharts" target="_blank" title="Follow us on Google Plus"><span>Need Info</span></a></li>
				</ul>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>
